*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(180, 180, 252);
}

.main{
    max-width: 1000px;
    margin: auto;
    padding: auto;

}

.btn{
    border: 0px;
    padding: 2%;
    background-color: #3396FF;
    height: 10%;
    border-radius: 20px;
    color: #FFFF;
    cursor: pointer;
}
.btn-center{
    text-align: center;
}

#menu{
    text-align: center;
}

.input-text{
    border: 1px solid #f812b3; display: inline-block; box-sizing: border-box;
    border-width: 1px;
    margin-right: 100%;
    border-radius: 5px;
    margin-bottom: 1%;
    padding: 10px;
}

.content{
    background-color: rgb(180, 180, 252);
    padding: 10px;
}

.row{
    margin: 8px -16px;
}

.row,   
.row>.column{
    padding: 8px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    border: 1px, solid, black;
    float: left;
    width: 24%;
}

@media screen and (max-width:900px){
    .column{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
}

.mr-100{
    margin-right: 100%;
}

.w-95{
    width: 95%;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 54%;
}

.pl-40{
    padding-left: 40%;
}

.pr-0{
    padding-right: 0%;
}


.borda{    
    border: solid; 
    border-width: 2px; 
    border-radius: 30px; 
    border-color: #b1b2b3; 
    padding-left: 1%;
}
